.button {
  position: fixed;
  right: 2rem;
  bottom: 3rem;
  width: 5rem;
  height: 5rem;
  background-color: var(--accent);
  color: var(--white);
  border: none;
  border-radius: 50%;
  box-shadow: var(--box-shadow);
  font-size: 2rem;
  cursor: pointer;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition);
  animation: var(--animation-fade-in);
}

.arrow {
  width: 30px;
  height: 30px;
  fill: var(--white);
}

.button:hover {
  transform: translateY(-5px);
}