.titleSection {
  font-size: 4rem;
  font-weight: 700;
}

/* 864px */
@media (max-width: 54em) {
  .titleSection {
    text-align: initial;
  }
}

/* 576px */
@media (max-width: 36em) {
  .titleSection {
    font-size: 3rem;
  }
}