.container {
  max-width: 120rem;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 6rem;
  animation: var(--animation-fade-in-translate);
}

.card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.icon {
  width: 6rem;
  height: 6rem;
  fill: var(--accent);
}

.paragraph {
  line-height: 1.6em;
}

/* 864px */
@media (max-width: 54em) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* 576px */
@media (max-width: 36em) {
  .container {
    grid-template-columns: 1fr;
  }
}