.container {
  max-width: 1200px;
  margin: auto;
}

.row {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6rem;
}

.card {
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.cardImage {
  width: 100%;
  height: auto;
  display: block;
}

.cardTitle {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.3em;
  opacity: .9;
  margin-bottom: 0.5rem;
}

.cardSubtitle {
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.4em;
  opacity: .8;
  margin-bottom: 2rem;
}

.bottom {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 2rem 2rem 2.5rem 2rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  flex-grow: 1;
  margin-bottom: 2rem;
}

.content span {
  font-weight: 700;
  opacity: .9;
}

.content p {
  font-size: 1.6rem;
}

@media screen and (max-width: 820px) {
  .row {
    grid-template-columns: 1fr;
  }
}