.header {
  padding: 2rem 4rem;
  background-color: var(--body-background);
  transition: var(--transition);
}

.headerScrolled {
  box-shadow: var(--box-shadow);
}

.nav {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.logo {
  margin-right: auto;
}

.telephone {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.telephone:hover {
  opacity: .8;
}

.telephone svg {
  width: 30px;
  height: 30px;
  fill: var(--grey);
}

.telephone p {
  font-weight: 700;
}

@media screen and (max-width: 574px) {
  .header {
    padding: 1.5rem 2rem;
  }

  .telephone {
    gap: 0.5rem;
  }

  .telephone:hover {
    opacity: 1;
  }
}