.container {
  max-width: 120rem;
  margin: auto;
}

.row {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6rem;
}

/* 864px */
@media (max-width: 54em) {
  .row {
    grid-template-columns: 1fr;
  }
}