.footer {
  padding: 6rem 4rem;
  background-color: var(--black);
}

.container {
  max-width: 1200px;
  margin: auto;
}

.paragraph {
  color: var(--white);
  opacity: .8;
}

@media screen and (max-width: 574px) {
  .footer {
    padding: 4rem 2rem;
  }

  .paragraph {
    font-size: 1.6rem;
    width: 80%;
  }
}