.containerMenu {
  position: fixed;
  bottom: 3rem;
  right: 2rem;
  z-index: 999;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
}

.menuButton {
  padding: 1rem 2rem;
  background-color: var(--accent);
  background-color: #687769;
  color: var(--white);
  border: none;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  font-size: 2rem;
  cursor: pointer;
}

.menuButton:hover {
  opacity: 0.8;
}

.list {
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 1.2rem;
  border: 2px solid var(--accent);
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.listButton {
  background: transparent;
  border: 0;
  border-radius: 1.2rem;
  padding: 1rem 1rem;
  width: 100%;
  font-size: 1.6rem;
  text-align: left;
  cursor: pointer;
}

.listButton:hover {
  background: #e6fad6;
}

@media screen and (max-width: 574px) {
  .containerMenu {
    right: 0;
  }

  .menuButton {
    border-radius: 1.5rem 0 0 1.5rem;
  }

  .menuButton:hover {
    opacity: 1;
  }

  .list {
    border-radius: 1.5rem 0 0 1.5rem;
    border-width: 4px 0 4px 4px;
  }
}